body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.server{
	text-align: center;
	background-color: green;
	margin:20px;
	padding:20px;

}

.server[value="up"]{
	background-color: green;
}
.server[value="down"]{
	background-color: red;
}
.server[value="other"]{
	background-color: grey;
}
.serverRack{
	display: flex;
	flex-direction: column;
}