body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #707070;
  padding-bottom: 20px;
}
.server{
	text-align: center;
	background-color: white;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 5px;
	padding:20px;
	width:70%; 
	border-style: solid;
  border-width: 3px;
  border-color: #b2b2b2;
  box-shadow: 0 0 0 5px white, 5px 10px 20px #888888;
}

.time{
  font-weight: bold;
  font-size: 18px;
}

.statusbar{
	width: 50% !important;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

.statusBar[value="up"]{
	background-color: #b1ffa0;
	width: 50% !important;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    font-weight: bold;
    font-size: 20px;

}
.statusBar[value="down"]{
	background-color: #ff8c8c;
	width: 50% !important;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    font-weight: bold;
    font-size: 20px;

}
.statusBar[value="other"]{
	background-color: #b2b2b2;
	width: 50% !important;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color:white;
  font-size: 20px;

}
.statusBar[value="up"]:hover{
  background-color: #83c176;
  cursor: pointer;
}

.statusBar[value="down"]:hover{
  background-color: #a85a5a;
  cursor: pointer;
}

.statusBar[value="other"]:hover{
  background-color: #7c7c7c;
  cursor: pointer;
}
.serverRack{
	display: flex;
	flex-direction: column;

}
.staging, .production > h1{
  text-align: center;
}
.staging, .production{
   background-color:#dbdbdb;
   padding: 20px;
   margin:20px;
   flex:1;
}
.environment{
  display: flex;
  flex-wrap: wrap;
}
h3{
  word-wrap: break-word;
}